@mixin flex($flex-flow, $flex-direction, $justify-content, $align-content, $align-items, $column-gap, $row-gap) {
    display: flex;
    flex-flow: $flex-flow;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-content: $align-content;
    align-items: $align-items;
    column-gap: $column-gap;
    row-gap: $row-gap;
}

@mixin grid($grid-template-columns, $grid-template-rows, $justify-content, $align-content, $align-items, $column-gap, $row-gap) {
    display: grid;
    grid-template-columns: $grid-template-columns;
    grid-template-rows: $grid-template-rows;
    justify-content: $justify-content;
    align-content: $align-content;
    align-items: $align-items;
    column-gap: $column-gap;
    row-gap: $row-gap;
}
