.header-1 {
    background-color: $color-lila;
    color: $color-negro;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header-1-1 {
    @include flex(row wrap, none, space-between, none, center, none, none);
    padding: 0rem 4rem 0rem 4rem;
    text-decoration: none;
}

.logo {
    padding-top: 1rem;
    width: 20rem;
    height: 6rem;
}

.icon-cart {
    width: 3.2rem;
    height: 3.2rem;
    stroke: $color-negro;
    margin-left: 5rem;
    margin-right: 0rem;
}

.icon-cart:hover{
    cursor: pointer;
}

//-------------------------------------------------------------------------//

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0rem;
    background-color: $color-negro;
    color: $color-blanco;
    width: 2.5rem;
    height: 2.5rem;
    @include flex(none, none, center, none, center, none, none);
    border-radius: 50%;
}

#contador-productos{
    font-size: 1.2rem;
}

//-------------------------------------------------------------------------//

.container-cart-products{
    position: absolute;
    margin: 0rem;
    top: 5rem;
    right: -2rem;
    background-color: $color-blanco;
    width: 40rem;
    z-index: 1;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.20);
    border-radius: 1rem;
}

.cart-product {
    @include flex(none, row wrap, space-between, none, center, 1.5rem, none);
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product{
    width: 40rem;
    @include grid(2rem 20rem 8rem, 1fr, space-between, none, none, none, none);
}

.container-cart-products .titulo-carrito {
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.40);
}

.titulo-producto-carrito{
    font-size: 1.6rem;
    font-weight: 700;
}

.precio-producto-carrito{
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 1.6rem;
}

.icon-close{
    width: 2rem;
    height: 2rem;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    width: 100%;
    @include grid(1fr, 50% 50%, none, none, center, none, none);
    text-align: center;
    padding: 1rem;
}

.cart-total-1 {
    margin: 0rem;
    width: 100%;
    @include grid(50% 50%, 1fr, none, center, center, none, none);
    text-align: center;
}

.cart-total-2 {
    width: 100%;
    @include flex(row wrap, none, center, none, flex-center, 2rem, none);
    padding: 1rem;
}

.cart-total h3{
    font-size: 1.8rem;
    font-weight: 900;
}

.total-pagar{
    font-size: 1.8rem;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

/***************************************************/
.header-1-2 label {
    display: none;
}

.menu {
    width: 3.2rem;
    height: 3.2rem;
    margin: 1rem;
}

:hover {
    cursor: pointer;
}

.header-1-2-1 {
    display: none;
}

.navbar {
    position: center;
}

.navbar ul {
    margin: 0rem;
    padding: 0rem;
    list-style: none;
    @include flex(none, row, center, none, none, 4rem, none);
}

.navbar ul li a {
    display: block;
    font-size: 2rem;
    color: $color-negro;
    border-radius: 0.3rem;
    letter-spacing: 0.1rem;
    padding: 0.4rem 0rem 0.4rem 0rem;
    text-align: center;
    text-decoration: none;

        &:hover {
            color: $color-verde-limon;
            transition: all 0.5s ease-in-out;
        }
}

#btn-menu {
    display: none;
}

//-----------------------------------------------------------//

.cart-total-2  {
    .boton-1 {
        width: 16rem;
        height: 5rem;
        display: inline-block;
        border: 0.2rem solid $color-lila-oscuro;
        border-radius: 0.5rem;
        background: $color-lila;
        color: $color-negro;
        font-size: 1.6rem;
        font-weight: normal;
        text-align: center;
        text-decoration: none;
    }

    .boton-2 {
        width: 16rem;
        height: 5rem;
        display: inline-block;
        border: 0.2rem solid $color-verde-limon-oscuro;
        border-radius: 0.5rem;
        background: $color-verde-limon;
        color: $color-negro;
        font-size: 1.6rem;
        font-weight: normal;
        text-align: center;
        text-decoration: none;
    }
}
