.main-g {
    padding-top: 9.6rem;
    overflow: hidden;
}

.main-g div h1 {
    margin: 0rem;
    padding: 4rem 0rem 0rem 0rem;
    text-align: center;
}

.container-items {
    margin: 0rem;
    width: 100%;
    background-color: $color-blanco;
    @include grid(repeat(3, minmax(16rem, 32rem)), repeat(2, 1fr), center, none, flex-start, 3rem, 3rem);
    padding: 4rem;
    text-align: center;
}

.container-items div p {
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.item{
    border-radius: 1rem;
}

.item img {
    border-radius: 1rem;
    border-width: 0.1rem;
    border-style:solid;
    border-color: $color-negro;
    object-fit: cover;
    width:100%;
    height:100%;
}

.info-product{
    font-size: 1.8rem;
    padding: 1.5rem 1.5rem;
    line-height: 2;
    @include flex(row-gap, none, center, center, none, 1rem, 1rem);
}

.price{
    font-size: 1.8rem;
    font-weight: 900;
}

// .info-product button{
//     border: none;
//     background: none;
//     background-color: $color-negro;
//     color: $color-blanco;
//     padding: 1.5rem 1rem;
//     cursor: pointer;
// }

.botonCompra{
    border: none;
    background: none;
    background-color: $color-negro;
    color: $color-blanco;
    padding: 1.5rem 1rem;
    cursor: pointer;
}

.botonColor{
    border: none;
    background: none;
    background-color: $color-lila;
    color: $color-blanco;
    padding: 1.5rem 1rem;
    cursor: pointer;
}

.cart-empty{
    padding: 2rem;
    text-align: center;
}

.hidden {
    display: none;
}

//SE OCULTA EN LA VENTANA DEL CARRITO DE COMPRAS
.codi-prod-cart {
    display: none;
}

.flexi{
    padding: 1rem 1rem;
    width: 100%;
    text-decoration: none;
    @include flex(column wrap, center, center, center, flex-start, none, 2rem);
}

