.main-o {
    padding-top: 9.6rem;
    overflow: hidden;

    .banner-o1 {
        .banner-o1-1 {
            img {
                display: block;
                margin: 0rem;
                width: 100%;
                height: 600px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
        }
        
        .banner-o1-2 {
            img {
                display: none;
            }
        }
    }
}
