.main-l {
    padding-top: 9.6rem;
    overflow: hidden;
}

.main-l div h1 {
    margin: 0rem;
    padding: 4rem 0rem 0rem 0rem;
    text-align: center;
}

//---------------------------------------------------------------//

.info-product{
    font-size: 1.8rem;
    padding: 1.5rem 1.5rem;
    line-height: 2;
    @include flex(none, column, center, center, none, 1rem, 1rem);
}

.price{
    font-size: 1.8rem;
    font-weight: 900;
}

.cart-empty{
    padding: 2rem;
    text-align: center;
}

.hidden{
    display: none;
}

//SE OCULTA EN LA VENTANA DEL CARRITO DE COMPRAS
.codi-prod-cart {
    display: none;
}

.flexi{
    padding: 1rem 1rem;
    width: 100%;
    text-decoration: none;
    @include flex(column wrap, center, center, center, flex-start, none, 2rem);
}
